{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    ["@babel/plugin-transform-react-jsx", { "pragma": "h" }],
    [
      "module-resolver",
      {
        "root": ["./app"],
        "alias": {
          "@assets": "./assets"
        }
      }
    ]
  ]
}
