{
  "presets": ["env", "preact"],
  "plugins": [
    "transform-class-properties",
    [
      "module-resolver",
      {
        "root": ["./app"],
        "alias": {
          "@assets": "./assets"
        }
      }
    ]
  ]
}
